@import "./variables.scss";

.btn {
  $timing: .5s;
  height: 40px;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  white-space: nowrap;
  color: $c-7;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
  
  /*ADD BUTTON || ANIMATED*/
  &.add-animated {
    width: 40px;
    background-color: $c-8;

    &,
    &::after,
    span {
      transition: all $timing;
    }
    &::first-letter {
      text-transform: uppercase;
    }
    
    &::after {
      top: 50%;
      left: 12px;
      transform: translateY(-50%) rotate(0deg);
      width: 15px;
      height: 15px;
      background-image: $plus-shape;
    }
    
    span {
      position: relative;
      opacity: 0;
      filter: blur(5px);
      will-change: filter;
    }
    
    &:hover {
      width: 183px;
      padding-left: 31px;
      padding-right: 12px;
      span {
        filter: blur(0px);
        opacity: 1;
      }
      &::after {
        transform: translateY(-50%) rotate(270deg);
      }
    }

  }

  &.play,
  &.add {
    background-color: $a-1;
    text-transform: capitalize;
    padding-left: 33px;
    width: 160px;
    text-align: left;
    transition: $timing;
    &:hover {
      background-color: $c-1;
    }
  }
  &.play::after {
    background-image: $play-shape;
    background-size: contain;
    width: 15px;
    height: 87px;
    left: 11px;
  }
  &.add::after {
    background-image: $plus-shape;
    background-size: contain;
    width: 15px;
    height: 87px;
    left: 11px;
  }
}

.btn-sm {
  $timing: .5s;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  border: 1px solid white;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
  }
  
  &.play {
    width: 40px;
    height: 40px;
    &::after {
      background-image: $play-shape;
      left: 53%;
      width: 15px;
      height: 18px;
      background-size: contain;
    }
  }
  &.add {
    width: 32px;
    height: 32px;
    &::after {
      width: 15px;
      height: 15px;
      background-image: $plus-shape;
      background-size: cover;
    }
  }
  &.like {
    width: 32px;
    height: 32px;
    &::after {
      width: 16px;
      height: 16px;
      background-image: $like-shape;
      background-size: contain;
    }
  }
}

/*BURGER BUTTON*/
.burger-btn {
  position: fixed;
  left: 26px;
  top: 17px;
  transform: translateX(-50%);
  width: 22px;
  height: 13px;
  padding: 0;
  z-index: 110;
  div {

    &::before,
    &::after {
      content: '';
    }
    &,
    &::before,
    &::after {
      position: absolute;
      width: 22px;
      height: 10px;
      background-image: $line-shape;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform-origin: 50% 50%;
      left: 50%;
      transform: translate(-50%, 0%) rotate(0);
      transition-timing-function: linear;
      transition: top .3s, width .3s, transform .3s;

    }

    &::before {
      top: -6px;
    }
    & {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::after {
      top: 6px;
    }

    &.active {
      &,
      &::before,
      &::after {
        transition: top .3s, width .3s .3s, transform .3s .3s;
      }
      &::before {
        top: 0px;
        transform: translate(-50%, 0%) rotate(45deg);
        opacity: 1;
      }
      & {
        width: 0;
      }
      &::after {
        top: 0px;
        transform: translate(-50%, 0%) rotate(-45deg);
      }
    }
  }
}