/*COLORS: */
$c-1: #000000;
$c-2: #4a4a4a;
$c-3: #9b9b9b;
$c-4: #cccccc;
$c-5: #dedede;
$c-6:#f3f3f3;
$c-7: #FFFFFF;
$c-8: #FF0000;
$c-9: #f5a623;
$c-10: #003bff;
$c-11: #0076ff;
$c-12: #ce00ff;
$c-13: #4a90e2;
$c-14: #222222;


/*ALPHA COLORS*/
$a-0: rgba(146, 146, 146, 0.2);
$a-1: rgba(0,0,0,.5);
$a-2: rgba(0, 0, 0, 0.7);
$a-3: rgba(0, 0, 0, 0.8);
$a-4: rgba(0, 0, 0, .6);

/*GRADIENTS*/
$g-1: linear-gradient(to top, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, .9) 95%);
$g-2: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, #000000 80%);
/*FONTS: */
$montserrat: 'Montserrat', sans-serif;
$robotoSlab: 'Roboto Slab', serif;

/*IMAGES: */
$play-shape: url("/img/icons/play-shape.svg");
$plus-shape: url("/img/icons/plus-shape.svg");
$like-shape: url("/img/icons/like-shape.svg");
$line-shape: url("/img/icons/line-shape.svg");

/*BREAKPOINTS*/
$bp-1: 1366px;
$bp-2: 1168px;
$bp-3: 950px;