.nav-enter-active,
.nav-leave-active {
  transition: all .5s ease;
}

.nav-enter, .nav-leave-to {
  transform: scale(.9) translateY(-10px);
  opacity: 0;
}

.add-movies-enter-active, .add-movies-leave-active {
  transition: opacity .5s;
}
.add-movies-enter, .add-movies-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// .modal-nav-enter-active,
// .modal-nav-leave-active {
//   transition: all .5s ease;
// }

// .modal-nav-enter, .modal-nav-leave-to {
//   opacity: 0;
// }