@import "../../assets/variables.scss";

#hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 91px);
  min-height: 768px;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    height: 100%;
    z-index: 2;
  }
  &::before {
    top: 0%;
    width: 100%;
    background-image: $g-1;
  }
  &::after {
    bottom: 0%;
    height: 50%;
    background-image: $g-2;
    opacity: 0;
    transition: opacity .5s;
  }

  .bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .bg {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform .1s;
      animation-name: letterIn;
      animation-fill-mode: forwards;
      animation-duration: 2s;
      z-index: 1;
    }
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 3;
    .inner {
      width: 100%;
      max-width: 537px;
      &.is-long {
        max-width: 80%;
      }
      h3 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 17px;
        span {
          font-weight: 700;
        }
      }
      h1 {
        font-family: $robotoSlab;
        font-size: 110px;
        font-weight: 700;
        line-height: 90px;
        margin-bottom: 18px;
        transition: all 0.7s;

        span {
          animation-name: letterIn;
          animation-fill-mode: forwards;
          animation-duration: 1s;
          opacity: 0;
          will-change: filter, opacity;
        }
      }
      h4 {
        font-size: 18px;
        font-weight: 700;
      }
      p {
        font-size: 18px;
      }

      .wrapp {
        margin-bottom: 25px;
        .btn:first-child {
          margin-right: 30px;
        }
      }

      h3,
      h4,
      p,
      .btn {
        opacity: 0;
        animation-name: contentEnter;
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
        will-change: opacity, transform;
      }
    }
  }
}

@keyframes letterIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes contentEnter {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: $bp-1) {
  #hero {
    min-height: 650px;
    .container {
      .inner {
        h3 {
        }
        h1 {
          font-size: 80px;
          line-height: 80px;
          transition: all 0.7s;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-3) {
  #hero {
    &::after {
      opacity: 1;
    }
    .container {
      display: flex;
      align-items: flex-end;
      padding-bottom: 117px;
      .inner {
        max-width: unset;
        text-align: center;
        h4,
        p {
          display: none;
        }
        h3 {
          font-size: 18px;
          // margin-bottom: -8px;
        }
        h1 {
          font-size: 72px;
          line-height: 72px;
          transition: all 0.7s;
          width: 100%;
          max-width: 320px;
          margin: 0 auto;
          margin-bottom: 4px;
        }
        .wrapp {
          position: relative;
          margin-bottom: 25px;
          .btn:first-child {
            margin-right: unset;
          }
          .btn:last-child {
            position: relative;
            top: 8px;
            margin-left: 16px;
            border: 1px solid $c-7;
            background-color: transparent;
            width: 30px;
            height: 30px;
            padding: 0;
            span {
              display: none;
            }
            &::after {
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}
