@import "../../assets/variables.scss";

#upcoming-movies {
  position: relative;
  width: 100%;
  margin-top: -110px;
  margin-bottom: 38px;
  z-index: 10;

  h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
}
