@import "../../assets/variables.scss";

nav {
  padding-top: 22px;

  .container {
    display: flex;

    a {
      font-size: 14px;
      line-height: 12px;
      transition: all 0.3s;
      color: $c-7;

      &::first-letter {
        text-transform: uppercase;
      }
      &.nuxt-link-active {
        font-weight: 700;
      }
    }
    .menu {
      width: calc(100% - 95px);
      display: flex;
      justify-content: space-between;

      .left,
      .right {
        height: 100%;
        display: flex;
        align-items: center;
      }

      // NAV-LEFT
      .left {
        a.logo {
          display: block;
          line-height: 0;
          width: 95px;
          height: 27px;
        }

        .navigation {
          display: flex;
          align-items: flex-end;
          margin: 0 20px;

          a {
            @mixin mg-right($child, $val) {
              &:nth-child(#{$child}) {
                margin-right: #{$val}px;
              }
            }

            @include mg-right(1, 17);
            @include mg-right(2, 17);
            @include mg-right(3, 16);
            @include mg-right(4, 13);
          }
        }

        .add-btn-wrapp {
          position: relative;
          height: 100%;
        }
      }

      //NAV RIGHT
      .right {
        .dropdown {
          position: relative;
          width: 47px;
          height: 25px;
          display: flex;

          &::after {
            content: "";
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 6px;
            background-image: url("/img/icons/arrow.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }

          .user-pic {
            width: 25px;
            height: 25px;
            border-radius: 100%;
            background-color: red;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
