@import "../../assets/variables.scss";

nav {
  position: fixed;
  height: 75px;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 22px;
  z-index: 50;
  background-color: transparent;
  transition: all 0.5s;
  &.dark-bg {
    background-color: $a-3;
    box-shadow: 0px 3px 9px $a-2;
  }

  .container {
    display: flex;
    position: relative;
    a.logo {
      display: block;
      line-height: 0;
      width: 95px;
      height: 27px;

      position: absolute;
      left: 0%;
      top: 0%;
      transform: translateX(0px);
      transition: 0.5s left 0s, 0.5s transform 0s;
    }

    .menu {
      position: relative;
      width: calc(100% - 95px);
      left: 95px;
      display: flex;
      justify-content: space-between;
      opacity: 1;
      transition: 0.3s opacity 0.3s;

      .left,
      .right {
        height: 100%;
        display: flex;
        align-items: center;
      }

      // NAV-LEFT
      .left {
        .navigation {
          display: flex;
          align-items: flex-end;
          margin: 0 20px;

          a {
            @mixin mg-right($child, $val) {
              &:nth-child(#{$child}) {
                margin-right: #{$val}px;
              }
            }

            /*custom margin*/
            @include mg-right(1, 17);
            @include mg-right(2, 17);
            @include mg-right(3, 16);
            @include mg-right(4, 13);
          }
        }

        .add-btn-wrapp {
          position: relative;
          height: 100%;
        }
      }

      //NAV RIGHT
      .right {
        .menu-dropdown {
          position: relative;
          width: 47px;
          height: 25px;
          display: flex;

          .inner {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;
            &::after {
              content: "";
              position: absolute;
              right: 0px;
              top: calc(50% + 1px);
              transform: translateY(-50%);
              width: 12px;
              height: 6px;
              background-image: url("/img/icons/arrow.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }

            .user-pic {
              width: 25px;
              height: 25px;
              border-radius: 100%;
              overflow: hidden;
              transition: transform 0.3s;
              &:hover {
                transform: scale(1.1);
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}

/*NAV LINK ANIMATION*/
nav {
  .container {
    a {
      position: relative;
      font-size: 14px;
      line-height: 12px;
      transition: all 0.3s;
      color: $c-7;
      white-space: nowrap;

      &.nuxt-link-active {
        font-weight: 700;
      }
      &::before {
        content: attr(data-str);
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        width: 0%;
        height: 100%;
        white-space: nowrap;
        transition: all 0.5s;
        overflow: hidden;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}

/*NAV DROPDOWN*/
nav {
  .container {
    .menu {
      .right {
        .menu-dropdown {
          .dropdown {
            position: absolute;
            right: 1px;
            top: 41px;
            padding: 11px 10px;

            width: 130px;
            border-radius: 5px;
            background-color: $c-7;

            // transform: scaleY(.5);
            transform-origin: 50% 0%;
            clip-path: circle(0px at 75% 0%);

            opacity: 0;

            will-change: opacity, clip-path;
            transition: all 0.5s;
            transition-timing-function: cubic-bezier(0.47, 0.8, 0.69, 1.29);

            pointer-events: none;

            &::after {
              content: "";
              position: absolute;
              top: -5px;
              right: 23px;

              width: 20px;
              height: 20px;
              border-radius: 5px;

              background: inherit;

              transform: rotate(45deg);
              z-index: -1;
            }

            &.active {
              // transform: scaleY(1);
              opacity: 1;
              clip-path: circle(150% at 75% 0%);
              pointer-events: initial;
            }
            .options {
              width: 100%;
              padding-top: 3px;
              a {
                display: block;
                width: 100%;
                font-size: 12px;
                color: $c-1;
                border-bottom: 1px solid $c-1;
                padding: 8px 0px;
                &:last-child {
                  border-bottom: 0px;
                  padding-top: 9px;
                  padding-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*mobile version*/

.mobile-dropdown {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 45;
  pointer-events: none;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s;
  &.active {
    pointer-events: initial;
    opacity: 1;
  }
}

.dropdown-menu {
  position: fixed;
  left: -105%;
  top: 0;
  width: 228px;
  height: 100%;
  background: $c-1;
  // background: lightblue;
  z-index: 60;
  transform: skewX(-20deg);
  transition: transform 1s, left 1s, opacity 0.5s;

  padding-top: 62px;
  padding-left: 15px;
  padding: 62px 15px 0px 15px;

  opacity: 0;
  pointer-events: none;

  a.logo {
    display: block;
    line-height: 0;
    width: 95px;
    height: 27px;
    position: absolute;
    left: 46px;
    top: 13px;
  }
  .user {
    background-color: #222222;
    p {
      color: $c-7;
    }
    img {
      filter: none;
    }
  }

  .wrapper {
    padding-top: 13px;
    &.top {
      a {
        display: block;
        font-size: 12px;
        text-transform: capitalize;
        color: $c-7;
        padding: 6px 0;
        border-bottom: 1px solid $c-14;
      }
    }
    &.bot {
      a {
        display: block;
        font-size: 14px;
        padding: 6px 0;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      a:first-child {
        display: flex;
        justify-content: flex-start;
        text-transform: capitalize;
        .bell-wrapp {
          margin-left: 0px;
          margin-right: 4px;
        }
      }
    }
  }

  &.active {
    left: 0;
    transform: skewX(0deg);
  }
}
/*mobile version*/

/*mobile - version*/
@media screen and (max-width: $bp-3) {
  /*DESKTOP*/
  nav {
    padding-top: 13px;
    height: 55px;
    .container {
      a.logo {
        left: 50%;
        transform: translateX(-50%);
        transition: left .5s .5s, transform .5s 0.5s;
        &.active {
          opacity: 0;
        }
      }
      .menu {
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s;
      }
    }
  }

  /*MOBILE*/
  .mobile-dropdown {
    opacity: 1;
    pointer-events: initial;
  }
  .dropdown-menu {
    opacity: 1;
    pointer-events: initial;
  }
  .bg {
    background: $a-4;
  }
}
